<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="logs"/>

    <!-- SYSTEM LOG -->
    <!-- <appender name="SYSTEM_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/system.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender> -->

    <!-- AUTH LOG -->
    <appender name="AUTH_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/auth.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- SERVICE LOG -->
    <appender name="SERVICE_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/service.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- SYSTEM LOGGER -->
    <!-- <logger name="ma.ensa.apms.system" level="INFO" additivity="false">
        <appender-ref ref="SYSTEM_LOG" />
    </logger> -->

    <!-- AUTH LOGGER -->
    <logger name="ma.ensa.apms.auth" level="INFO" additivity="false">
        <appender-ref ref="AUTH_LOG" />
    </logger>

    <!-- SERVICE LOGGER -->
    <logger name="ma.ensa.apms.service.impl" level="DEBUG" additivity="false">
        <appender-ref ref="SERVICE_LOG" />
    </logger>

    <!-- CONSOLE OUTPUT -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ROOT LOGGER -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
